.WorkMedia {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $c-text-primary;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 1s;

  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.loadingContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left : 0px;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: 1s;
  height: 100%;
  min-height: 100%;
  width: 100%;

  .loading & {
    opacity: 1;
    max-height: 0px;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100%;
  transition: 1s;
  opacity: 1;

  .loading & {
    opacity: 0;
  }
}
