{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
