{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/env"
        ],
        "@babel/react"
      ]
    }
  }
}
