.LogoMenu {
  font-family: 'Josefin Slab', Helvetica, "Trebuchet MS", Arial, serif;
  cursor: pointer;
}

.LogoMenu_title {
  font-size: 2rem;
}

.LogoMenu_nav {
  flex-wrap: wrap;
  font-size: 1.5rem;
  max-height: 0px;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;

  .LogoMenu.u-active & {
    padding: 1rem 0;
    margin: 0.5rem 0;
    max-height: 500px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    opacity: 1;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.75rem 0;
    transition: 0.3s;

    &:hover {
      padding-left: 30px;
      background: #dedede;
    }
  }
}

.LogoMenu_subtitle {
  font-size: 1rem;
  text-align: right;

  i {
    opacity: 0.5;
    transition: 0.6s;
  }

  .LogoMenu.u-active & {
    i {
      transform: rotate(150deg);
    }
  }
}
