.LogoMenu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  cursor: pointer;
}

.LogoMenu_title {
  padding: 0 2rem;
  font-size: 2rem;
}

.LogoMenu_nav {
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 100%;
  max-height: 0px;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
  background-color: #444;

  .LogoMenu.u-active & {
    padding: 1rem 0;
    margin: 0.5rem 0;
    max-height: 500px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    opacity: 1;
  }
}

.LogoMenu_subtitle {
  font-size: 1rem;
  width: 100%;
  padding: 0 2rem;
  margin-top: 0.25em;

  i {
    opacity: 0.5;
    transition: 0.6s;
  }

  .LogoMenu.u-active & {
    i {
      transform: rotate(150deg);
    }
  }
}
