.ProjectContent {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 5rem;
  max-height: 0px;
  padding: 4rem 2.5em;
  transition: 1s;
  background: $c-dark-charcoal;
  opacity: 0;

  section {
    margin-bottom: 1rem;
  }

  &.current {
    max-height: 2500px;
    opacity: 1;
    overflow: auto;
  }
}

.label {
  color: white;
}

.copy {
  a {
    color: $c-text-primary;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: white;
    }
  }
}

.url {
  text-align: right;
}

.mediaWrapper {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
