:global {
  html {
    font-family: $ff-copy;
    color: $c-charcoal;
  }

  a.cta {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: 0.3s;

    @media (min-width: $l-w-medium) {
      &:hover {
        border-bottom-color: tomato;
      }
    }
  }
}
