.stroke {
  display: flex;
  border: 1px solid $c-border-color;
  max-height: 600px;
  transition: 0.3s;
}

.image {
  position: relative;
  align-self: center;
}

.imageSingle {
  composes: image;
  align-self: auto;
}

.frame {
  composes: stroke;
  padding: 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
