.Image {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frame {
  padding: 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.stroke {
  composes: stroke from "../styles.css";
}
