.Desktop {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.outerFrame {
  padding: 10px 10px 20px;
  margin-bottom: -1px;
}

.screen {
  img {
    width: 300px;
    height: auto;
  }
}

.stand {
  width: 80px;
  min-height: 20px;
  margin-bottom: -1px;
}

.base {
  width: 200px;
  min-height: 5px;
}

.stroke {
  composes: stroke from "../styles.css";
}
