.View {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  section {
    min-height: 100%;
  }
}

.View_control {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232323;
  color: #aaa;
}

.View_media {
  width: 60%;
  background: grey;
}
