@import "../../styles/variables.css";

.View {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100%;
  background: $c-dark-charcoal;

  @media (max-width: $l-w-small) {
    display: block;
  }
}

.View_control {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #232323;
  color: $c-text-primary;
  transition: 0.3s;

  @media (max-width: $l-w-small) {
    width: 100%;
  }

  @media (min-width: $l-w-medium) {
    min-height: 100vh;
  }
}

.View_media {
  position: relative;
  display: flex;
  width: 60%;

  @media (max-width: $l-w-small) {
    width: 100%;
  }

  &.u-work {
    height: 100vh;  /* IE */
  }
}

.View_mediaShutter {
  position: absolute;
  right: 0px;
  z-index: 16;
  width: 100%;
  height: 0%;
  transition: 0.3s;
  background: black;

  &.u-top {
    top: 0px;
  }

  &.u-bottom {
    bottom: 0px;
  }

  .u-firstMediaLoading & {
    height: 50%;
  }
}

.View_mediaLoadingMessage {
  font-family: $ff-heading;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  z-index: 17;
  display: none;

  .u-firstMediaLoading & {
    display: flex;
  }
}
