$c_about: #3fa44e;
$c_work: #967fd1;
$c_contact: #cc750c;

.MenuLink {
  display: block;
  position: relative;
  color: inherit;

  &.current {
    transition: 0s;
  }

  @media (min-width: $l-w-medium) {
    &:not(.current) {
      .label:hover {
        padding-left: 60px;
        background: #555;
      }
    }
  }
}

.label {
  position: relative;
  padding: 0.75rem 0;
  transition: 0.5s;

  .menuActive & {
    padding: 0.75rem 2rem;
  }

  .current & {
    background: $c-light-grey;
    color: black;
    font-size: 2rem;
    font-weight: 600;

    &.about {
      background: $c_about;
    }

    &.work {
      background: $c_work;
    }

    &.contact {
      background: $c_contact;
    }
  }

  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 0px;
    height: 100%;
    transition: 0.3s;
    background: #222;
  }

  .MenuLink:not(.current):hover & {
    &:before {
      width: 15px;
    }

    &.about:before {
      background: $c_about;
    }

    &.work:before {
      background: $c_work;
    }

    &.contact:before {
      background: $c_contact;
    }
  }
}
